.cardPriceP {
    background: var(--light-gray);
    box-shadow: #959da566 0 8px 24px;
    width: 328px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border-radius: 12px;
    gap: 1rem;
    border: 2px solid #23A6F0;
    position: relative;
}

.cardPriceP .offer-tag {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 12px;
    position: absolute;
    top: -16px;
    font-size: 0.875rem;
}

.cardPriceP h2 {
    font-size: 2.5rem;
}

.cardPriceP h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.cardPriceP p {
    color: #6b7280;
    font-size: 1rem;
}

.cardPriceP hr {
    height: 1px;
    background-color: var(--primary-color);
    width: 100%;
    border: none;
}

.cardPriceP .benefits {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.benefit-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #6b7280;
}

.cardPriceP hr {
    height: 1px;
    background-color: var(--primary-color);
    width: 100%;
    border: none;
}