#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    gap: 5.75rem;
}

#contact header {
    display: grid;
    gap: 1.5rem;
    text-align: center;
    max-width: 33rem;
}

#contact p {
    color: var(--second-text-color);
}

#contact strong {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

#contact img {
    width: 100px;
    height: 100px;
}

#contact .even-columns {
    gap: 2rem;
}

@media (width > 1280px) {
    .container {
        --max-width: 1050px;
    }
    #contact header>span>h2 {
        font-size: var(--fs-base);
        color: var(--primary-color);
    }
}