#testimonial {
    background-color: #B2E3FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    gap: 5.75rem;
}

#testimonial header {
    display: grid;
    gap: 1.5rem;
    text-align: center;
    max-width: 33rem;
}

#testimonial p {
    color: var(--second-text-color);
}

#testimonial strong {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

#testimonial img {
    width: 100px;
    height: 100px;
}

#testimonial .even-columns {
    gap: 2rem;
}

.containerWidth {
    width: 100%;
}

#testimonial .even-columns {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem; 
}

#testimonial .card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 100%;
    max-width: 300px;
}

#testimonial .even-columns::-webkit-scrollbar {
    display: none;
}

@media (width > 1280px) {
    .container {
        --max-width: 1050px;
    }
    #testimonial header>span>h2 {
        font-size: var(--fs-sm);
        color: var(--primary-color);
    }
}