#testimonials {
    height: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    gap: 2rem;
}

.header {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 2rem;
    align-items: center;
}

.header :first-child {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

p {
    color: var(--second-text-color);
}

.carousel {
    display: flex;
    width: 80%;
}

.carousel:hover {
    .carousel-content {
        animation-play-state: paused;
        cursor: pointer;
    }
}

@media (width >=580px) {
    #testimonials {
        gap: 5rem;
        align-items: center;

        header p {
            width: 100%;
        }

        .carousel {
            overflow-x: hidden;
            width: 50%;
        }

        .testimony {
            width: 80%;
        }

        .carousel-card {
            min-width: 30rem;
            min-height: 26.875rem;
        }
    }
}